<% provide(:title, t(".title")) %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".intro" %>
  <%= link_to t(".rails_help"), "https://www.railstutorial.org/help" %>
  <%= t ".intro_1" %>
  <em><%= link_to t(".rails_book"), "https://www.railstutorial.org/book" %><em>
</p>
